#header p {
    font-size: 2em;
    text-align: center;
}

p::after{ /* 연습용 */
    content: '!!';
    background: burlywood;
    border-radius: 20%;
    color: rebeccapurple;
}


html {
    width: 100%;
    height: 100%;
}
body{
    min-width: 1000px;
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}
.fillParent{
    width: 100%;
    height: 100%;
}
.mapContents{
    height: 50%;
    white-space: nowrap;
}
#header {float: left; width: 100%; height: 100px; outline: 1px solid red;}
#Map {float: left; width: 65%; min-width: fit-content; min-height: 400px; outline: 1px solid olive;}
.mapimage
{
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}



#PresentCondition {float: left; width: 35%; height: 50%; min-height:200px; outline: 1px solid fuchsia;}
#NumOfBycicles {float: left; width: 35%; height: 25%; min-height:100px; outline: 1px solid maroon;}
#NumOfUsedHelmets {float: left; width: 35%; height: 25%; min-height:100px; outline: 1px solid blue;}


#Cycles {float: left; width: 100%; height: fit-content; outline: 1px solid red; overflow:auto; white-space: nowrap;}
.contents{
    display: inline-block;
}

span#location {
    font-size: 1.5em;
}



#footer {
    float: left; 
    width: 100%; 
    height: fit-content; 
    background-color: rgb(63, 63, 63);
    color: white;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
#footer-image {
    float: left;
    padding-right: 75px;
}
#footer-text {
    float: left;
    transform: translateY(20px);
    vertical-align: middle;
}
